@model EF.Domain.Usuario
@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div>
        <h1 class="text-center">Login</h1>
    </div>

    <div class="col-md-8 col-md-offset-2">

        @using (Html.BeginForm("Add", "Login", FormMethod.Post))
        {
            @Html.ValidationSummary()
            <div class="form-group">
                <label for="exampleInputEmail1">Usuário</label>
                @Html.TextBoxFor(b => b.User, new { @class = "form-control", placeholder = "Usuário" })
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Senha</label>
                @Html.TextBoxFor(b => b.Passwd, new { @class = "form-control", placeholder = "Digite sua senha", @type = "password" })
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Confirmar</label>
                @Html.TextBoxFor(b => b.RePasswd, new { @class = "form-control", placeholder = "Redigite sua senha", @type = "password" })
            </div>

            <button type="submit" class="btn btn-primary btn-lg btn-block">Cadastrar</button>
        }
    </div>
</div>
